<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/register.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body class="vintageCover">
<div class="container-1">
    <div class="box-1">
        <h1>Registrujte svoju novu trgovinu</h1>
    </div>
    <form method="post" action="/trgovac/register" enctype="multipart/form-data">
    <div class="box-2">
        <div class="box-2-1">
            <div class="marginica"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="marginica"><input class="form-control" type="text" name="username" placeholder="Username"></div>
            <div class="marginica"><input class="form-control" type="password" name="sifra" placeholder="Sifra"></div>
            <div class="marginica"><input class="form-control" type="text" name="naziv" placeholder="Naziv trgovine"></div>
            <div class="marginica"><input class="form-control" type="text" name="grad" placeholder="Grad"></div>
        </div>
        <div class="box-2-1">
            <div class="marginica"><input class="form-control" type="text" name="adresa" placeholder="Adresa trgovine"></div>
            <div class="marginica"><input class="form-control" type="text" name="adresa_gl" placeholder="Adresa glavne poslovnice"></div>
            <div class="marginica"><input class="form-control" type="number" name="telefon" placeholder="Kontakt telefon"></div>
            <div class="marginica"><input name="sampleFile" type="file" accept="image/*"/></div>
            <div class="marginica"><button class="btn btn-primary btn-block marginaDEsno" type="submit">Registrujte se</button></div>
            <div class="marginica"><p class="text-center">Imate account? <a href="/trgovac/login">Login!</a></p></div>
        </div>
    </div>
    </form>
</div>
</body>
</html>




<!--<div class="container-1">
    <form method="post" action="/kupac/register">
        <div class="box-1">
                <h2 class="text-center">Registrujte se kao kupac</h2>
                <div class="marginica"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                <div class="marginica"><input class="form-control" type="text" name="username" placeholder="Username"></div>
                <div class="marginica"><input class="form-control" type="password" name="sifra" placeholder="Sifra"></div>
                <div class="marginica"><input class="form-control" type="text" name="naziv" placeholder="Naziv trgovine"></div>
        </div>
        <div class="box-2">
                <div class="marginica"><input class="form-control" type="text" name="grad" placeholder="Grad"></div>
                <div class="marginica"><input class="form-control" type="text" name="adresa" placeholder="Adresa trgovine"></div>
                <div class="marginica"><input class="form-control" type="text" name="adresa_gl" placeholder="Adresa glavne poslovnice"></div>
                <div class="marginica"><input class="form-control" type="number" name="telefon" placeholder="Kontakt telefon"></div>
                <div class="marginica"><input name="sampleFile" type="file" accept="image/*"/></div>
                <div class="marginica"><button class="btn btn-primary btn-block" type="submit">Registrujte se</button></div>
                <div class="marginica"><p class="text-center">Imate account? <a href="/kupac/login">Login!</a></p></div>
        </div>
    </form>
</div>
-->
<!-- -->



